<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>COVID-19 Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>COVID-19 Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <h5>Select A Country:</h5>
          <select id="country-dropdown" onchange="optionChanged(this.value)"></select>
        </div>
        <!-- <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Demographic Info</h3> -->
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="line"></div>
        <script src="../JSON Data/confirmed_data.js"></script>
        <script src="../JSON Data/deaths_data.js"></script>
        <script src="../JSON Data/recovery_data.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
            createLineChart(jsonConfirmed);
            });
        </script>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
        <script src="../JSON Data/confirmed_data.js"></script>
        <script src="../JSON Data/deaths_data.js"></script>
        <script src="../JSON Data/recovery_data.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
            bubbleChart(jsonConfirmed);
            });
        </script>
      </div>
    </div>
  </div>

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/an_script.js"></script>
  

</body>

</html>
