<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Dashboard</title>
    <!-- Include Bootstrap CSS files from the local path -->
    <link rel="stylesheet" href="static/bootstrap@5.3.0/css/bootstrap.min.css">

    <!-- Include Leaflet CSS file from the local path -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>

<body>
    <div class="container">
        <h1>COVID-19 Dashboard</h1>
        <div class="controls">
            <label for="tableSelect">Select Table:</label>
            <select id="tableSelect">
                <option value="" selected disabled>Select Table</option>
                <option value="confirmed">Confirmed Cases</option>
                <option value="deaths">Deaths</option>
                <option value="recovery">Recovery</option>
            </select>

            <label for="dateSelect">Select Date:</label>
            <select id="dateSelect" disabled>
                <option value="" selected disabled>Select Date</option>
            </select>

            <button id="plotBtn" class="btn btn-primary" data-selected-table="">Generate Map</button>
        </div>
        <div id="map" class="leaflet-container" style="height: 800px; width: 1200px; margin-top: 20px;"></div>
    </div>

    <!-- Include Axios JS file from the local path -->
    <script src="static/axios/axios.min.js"></script>

    <!-- Include Bootstrap JS files from the local path -->
    <script src="static/bootstrap@5.3.0/js/bootstrap.bundle.min.js"></script>

    <!-- Include Leaflet JS file from cdn -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Include custom script.js file -->
    <script src="static/script.js"></script>
</body>

</html>
